:root {
  --font-family: "Roboto", sans-serif;

  --font-size: 14px;

  --black: #000;
  --white: #fff;

  --primary-color: #3366ff;
  --primary-color-darken: #1d3fa6;
  --main-border-color: #cfcfcf;
  --items-border-color: #e7e7e7;
}
